*{
    padding: 0px 0px;
    margin: 0px 0px;
}

.ls{
   
    height: 500px;
    
}

.main{
    position: absolute;
    background-image: url("ls.jpeg");
    background-size: cover;
    height: 550px;
    width: 1200px;
   left: 50%;
   bottom: 285px;
   
    
    transform: translate(-50%,50%);
    border: 5px solid rgb(114, 111, 255);
    border-radius: 20px;
}

#longurl{
    position: absolute;
    top: 45%;
    left: 38%;
    height: 45px;
    width: 296px;
    border: 2px solid black;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 20px;
    font-size: large;
    font-family: monospace;
    font-weight: bold;
}

#shorten{
    position: relative;
    top: 35%;
    left: 67%;
    height: 40px;
    width: 80px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    font-family: monospace;
    color: white;
    background-color: rgb(58, 39, 112);
}

#shorten:hover{
    background-color: rgb(47, 113, 72);
}

#shorturl{
    position: relative;
    top: 43%;
    left: 38%;
    height: 45px;
    width: 270px;
    border: 2px solid black;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 47px;
    font-size: large;
    font-family: monospace;
    font-weight: bold;
}

#copy{
    position: relative;
    top: 44%;
    left: 39%;
    height: 35px;
    width: 35px;
    border: 2px solid black;
    border-radius: 10px;
    color: white;
    background-color: rgb(43, 26, 92);
}

#copy:hover{
    background-color: rgb(45, 113, 59);
}

.main p{
    /* background-color: white; */
    position: relative;
    top: 25%;
    left: 35%;
    height: 60px;
    width: 400px;
    font-size: 55px;
    font-family: monospace;
    font-weight: bold;
    color: rgb(3, 5, 20);
}

